# Programming with [24 Essential SQL Interview Questions](#SQL_questions)

## Pro Tips
- Traditional software engineering questions may show up in data science interviews. Expect those questions to be easier, less about systems, and more about your ability to manipulate data read databases, and do simple programming tasks. 
- Review your SQL and prepare to do common operation such as JOIN, GROUP BY, and COUNT. 
- Review ways to manipulate data and strings (we suggest doing this in Python) so you can answer questions that involve sifting through numerical or string data.

### 1. Write a function to calculate all possible assignment vectors of 2n users, where n users are assigned to group 0 (control), and n users are assigned to group 1 (treatment).

In [ ]:
import itertools

def numberOfAsignments(n):
    # Check to ensure that n is a positive even integer
    if n <= 0 or n % 2 != 0:
        print "Please enter a positive even integer"
        return False
    
    # The way to select n users out of 2n users is just 2n choose n
    # Note if we select n users for the control group, the treatment group will automatically be selected already
    # The itertools function will do combinations for us
    combos = itertools.combinations(xrange(n), n / 2)
    
    # Combos is an iterable, so we it has no length element and we need to count it
    total = 0
    for c in combos:
        total += 1
    return total

In [ ]:
numberOfAsignments(6)

### 2. Given a list of tweets, determine the top 10 most used hashtags.

In [ ]:
'''
We need to make a couple of assumptions to answer this question
Assumptions:
    A tweet can have multiple hashtags
    Each list element is just a string with each hastag starting with a # and ending with a space
'''
import re

def topNHashtags(tweets, n):
    # Create dictionary where each key will be a unique tweet and each value will be the count
    tags = {}
    for tweet in tweets:
        hashtags = parseHashtags(tweet)
        for hashtag in hashtags:
            tags[hashtag] = tags.get(hashtag, 0) + 1
    
    # Return top n results from the dictionary
    return sorted(tags, key=tags.get, reverse=True)[:n]
        

def parseHashtags(tweet):
    # Use regex to get the hastags out of a string and return the result in a list
    return re.findall('(#\S+)', tweet)

In [ ]:
tweets = ['#hi #my #name #is ndjksancdjksa #hash', '#hash', '#hi #my #hash', '#hash', '#hi']
topNHashtags(tweets, 4)

### 3. Program an algorithm to find the best approximate solution to the knapsack problem in a given time

Knapsack problem:
    https://en.wikipedia.org/wiki/Knapsack_problem

### 4. Program an algorithm to find the best approximate solution to the traveling salesman problem in a given time

Traveling Salesman Problem: https://en.wikipedia.org/wiki/Travelling_salesman_problem

### 5. You have a stream of data coming in of size n, but you donâ€™t know what n is ahead of time. Write an algorithm that will take a random sample of k elements. Can you write one that takes O(k) space?

In [ ]:
'''
The solution is that everytime a new element comes in from the stream roll select a random number [0,1)
If the sample is smaller than k, add the element from the stream and the random number to the sample
If the random number rolled is smaller than the largest random number in the sample, boot the
largest one out and add this one to the sample.
'''
import numpy as np
sample = {}

def kRandomSample(stream, k):
    if len(sample) < k:
        sample[stream] = np.random.rand()
    else:
        rand = np.random.rand()
        if rand < max(sample.itervalues()):
            sample.pop(max(sample, key=sample.get), None)
            sample[stream] = rand
                
    return sample

In [ ]:
L = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
sample = {}
for i in L:
    kRandomSample(i, 5)
sample.keys()

### 6. Write an algorithm that can calculate the square root of a number

In [ ]:
'''
Here is an implementation of a binary search for the square root of a number
Newton's method would be another valid (and almost certainly faster) solution.
Use x ** 2 - n as your function to find the zero of
'''
def squareRoot(n, err=.00001, maxAttempts=10000):
    if n < 0:
        print "Please enter a positive number"
        return False
    
    iteration = 1
    attempt = n / 2.0
    attempts = 0
    
    while abs(attempt ** 2 - n) > err:
        attempts += 1
        if attempt ** 2 > n:
            attempt -= n / float(2 ** attempts)
        else:
            attempt += n / float(2 ** attempts)
        
        if attempts > maxAttempts:
            print "Did not converge"
            print attempt
            return False
    
    return attempt

In [ ]:
squareRoot(36)

### 7. Given a list of numbers, can you return the outliers?

In [ ]:
'''
Ask the interviewer for clarification.
How are outliers defined?
This code assumes outliers are defined as numbers outside of [Q1 - 1.5 * IQR, Q3 + 1.5 * IQR]
where Q1 is the first quartile, Q3 is the third quartile, and IQR is the inner quartile range (Q3 - Q1)

The runtime of this algorithm is at least O(n), but potentially larger depending on how numpy computes quartiles
'''
import numpy

def findOutliers(L):
    Q1 = np.percentile(L, 25)
    Q3 = np.percentile(L, 75)
    IQR = Q3 - Q1
    outliers = []
    
    for num in L:
        if num < Q1 - 1.5 * IQR:
            outliers.append(num)
        elif num > Q3 + 1.5 * IQR:
            outliers.append(num)
    
    return outliers

In [ ]:
L = [1,2,3,4,6,1,2,3,4,6,1,99,-100,1,2,3,4,5,2,2,22,34,1,2,3,4,-10]
findOutliers(L)

### 8. When can parallelism make your algorithms run faster? When could it make your algorithms run slower?

<a id='#9'></a>
### 9. What are the different kinds of joins? What are the differences between them?

- `INNER JOIN`: Returns only results from both sides of the join that match the join clause.
- `OUTER JOIN`: Returns all results from both sides of the join. Matches rows on the left to the right based on the join clause.
- `LEFT JOIN`: Returns all results from the left side of the join. Matches to rows on the right if they exist based on the join clause.
- `RIGHT JOIN`: Returns all results from the right side of the join. Matches to rows on the left if they exist based on the join clause.
- `CROSS JOIN`: Returns all rows on the right matched with all rows on the left (Cartesian product). Results can be pruned down by the join clause.
- `NATURAL JOIN`: This is a weird one, the idea is it implicitly joins on columns with the same name. The usual implementation makes it inner join, the shared columns are only returned once.

### 10. Why might a join on a subquery be slow? How might you speed it up?

A join on a subquery might be slow if no index exists because the subquery only exists in memory. You might speed it up by creating the subquery as a temp table then join to the temp table.

### 11. Describe the difference between primary keys and foreign keys in SQL database.

- Primary key - column or a set of columns that uniquely identify a row in a table.
- Foreign key - field (or collection of fields) in a table whose value is required to match the value of the primary key for a second table

### 12. Given a **COURSES** table with columns *course_id* and *course_name*, a **FACULTY** table with columns *faculty_id* and *faculty_name*, and a **COURSE_FACULTY** table with columns *faculty_id* and *course_id*, how would you return a list of faculty who teach a course given the name of a course?

```SQL
SELECT
    f.faculty_id, f.faculty_name
FROM
    COURSES c
    JOIN COURSE_FACULTY cf
        ON c.course_id = cf.course_id
    JOIN FACULTY f
        ON f.faculty_id = cf.faculty_id
WHERE
    c.course_name = 'name_of_course';
```

### 13. Given a **IMPRESSIONS** table with *ad_id*, *click* (an indicator that the ad was clicked), and *date*, write a SQL query that will tell me the click-through-rate of each ad by month.

```SQL
SELECT
    ad_id,
    EXTRACT(month FROM date) AS month,
    CAST(COUNT(*) FILTER(WHERE click)) / COUNT(*)) AS click_through
FROM IMPRESSIONS
GROUP BY
    ad_id,
    EXTRACT(month FROM date);
```

### 14. Write a query that returns the name of each department and a count of the number of employees in each:
- **EMPLOYEES** containing: *Emp_ID* (Primary key) and *Emp_Name*
- **EMPLOYEE_DEPT** containing: *Emp_ID* (Foreign key) and *Dept_ID* (Foreign key)
- **DEPTS** containing: *Dept_ID* (Primary key) and *Dept_Name*

```SQL
SELECT
    d.dept_name,
    COUNT(DISTINCT ed.emp_id) AS emp_count
FROM
    DEPTS d
    LEFT JOIN EMPLOYEE_DEPT ed
        ON d.dept_id = ed.dept_id
GROUP BY
    d.dept_name;
```

<a id='SQL_questions'></a>
# [24 Essential SQL Interview Questions](https://www.toptal.com/sql/interview-questions)

### 1\. What does `UNION` do? What is the difference between `UNION` and `UNION ALL`?

The `UNION` operator is used to combine the result-set of two or more `SELECT` statements. Each `SELECT` statement must have the same number of columns; the result of the `UNION` will have the same column titles as the first `SELECT` statement.

`UNION` merges the contents of two structurally-compatible tables into a single combined table. The difference between `UNION` and `UNION ALL` is that `UNION` will omit duplicate records whereas `UNION ALL` will include duplicate records.

### 2\. List and explain the different types of `JOIN` clauses supported in ANSI-standard SQL.

Same as number [9](#9).

- `INNER JOIN`: Returns only results from both sides of the join that match the join clause.
- `OUTER JOIN`: Returns all results from both sides of the join. Matches rows on the left to the right based on the join clause.
- `LEFT JOIN`: Returns all results from the left side of the join. Matches to rows on the right if they exist based on the join clause.
- `RIGHT JOIN`: Returns all results from the right side of the join. Matches to rows on the left if they exist based on the join clause.
- `CROSS JOIN`: Returns all rows on the right matched with all rows on the left (Cartesian product). Results can be pruned down by the join clause.
- `NATURAL JOIN`: This is a weird one, the idea is it implicitly joins on columns with the same name. The usual implementation makes it inner join, the shared columns are only returned once.

### 3\. Consider the following two query results:
```SQL
SELECT count(*) AS total FROM orders;

+-------+
| total |
+-------+
|  100  |
+-------+

SELECT count(*) AS cust_123_total FROM orders WHERE customer_id = '123';

+----------------+
| cust_123_total |
+----------------+
|       15       |
+----------------+
```
Given the above query results, what will be the result of the query below?
```SQL
SELECT count(*) AS cust_not_123_total FROM orders WHERE customer_id <> '123';
```

85, unless there are any `NULL` values for `customer_id`.

### 4\. What will be the result of the query below? Explain your answer and provide a version that behaves correctly.
```SQL
SELECT CASE WHEN NULL = NULL THEN 'Yup' ELSE 'Nope' END AS Result;
```

The query will return 'Nope' because you have to compare `NULL` with an `IS` operator, not `=`. Your query should be:
```SQL
SELECT 
    CASE WHEN NULL IS NULL 
        THEN 'Yup'
        ELSE 'Nope' 
    END AS Result;
```

### 5\. Given the following tables:
```SQL
SELECT * FROM runners;
+----+--------------+
| id | name         |
+----+--------------+
|  1 | John Doe     |
|  2 | Jane Doe     |
|  3 | Alice Jones  |
|  4 | Bobby Louis  |
|  5 | Lisa Romero  |
+----+--------------+

SELECT * FROM races;
+----+----------------+-----------+
| id | event          | winner_id |
+----+----------------+-----------+
|  1 | 100 meter dash |  2        |
|  2 | 500 meter dash |  3        |
|  3 | cross-country  |  2        |
|  4 | triathalon     |  NULL     |
+----+----------------+-----------+
```
What will be the result of the query below?
```SQL
SELECT * FROM runners WHERE id NOT IN (SELECT winner_id FROM races);
```
Explain your answer and also provide an alternative version of this query that will avoid the issue that it exposes.

The query will return an empty set. Selecting something `NOT IN` a set with a `NULL` value will return an empty set. You should use this query instead:
```SQL
SELECT * 
FROM runners 
WHERE id NOT IN (
    SELECT winner_id 
    FROM races 
    WHERE winner_id IS NOT NULL
);
```

### 6\. Given two tables created and populated as follows:
```SQL
CREATE TABLE dbo.envelope(id int, user_id int);
CREATE TABLE dbo.docs(idnum int, pageseq int, doctext varchar(100));

INSERT INTO dbo.envelope VALUES
  (1,1),
  (2,2),
  (3,3);

INSERT INTO dbo.docs(idnum,pageseq) VALUES
  (1,5),
  (2,6),
  (null,0);
  ```
What will the result be from the following query:
```SQL
UPDATE docs SET doctext=pageseq FROM docs INNER JOIN envelope ON envelope.id=docs.idnum
WHERE EXISTS (
  SELECT 1 FROM dbo.docs
  WHERE id=envelope.id
);
```
Explain your answer.

The result of the query will be as follows:
```SQL
idnum  pageseq  doctext
1      5        5
2      6        6
NULL   0        NULL
```
The `EXISTS` clause in the above query is a red herring. It will always be true since `id` is not a member of `dbo.docs`. As such, it will refer to the envelope table comparing itself to itself!

The `idnum` value of `NULL` will not be set since the `JOIN` of `NULL` will not return a result when attempting a match with any value of envelope.

### 7\. What is wrong with this SQL query? Correct it so it executes properly.
```SQL
SELECT Id, YEAR(BillingDate) AS BillingYear 
FROM Invoices
WHERE BillingYear >= 2010;
```

```SQL
SELECT Id, YEAR(BillingDate) AS BillingYear 
FROM Invoices
WHERE YEAR(BillingDate) >= 2010;
```

### 8\. Given these contents of the Customers table:
```SQL
Id	Name			ReferredBy
1	 John Doe        NULL
2	 Jane Smith      NULL
3	 Anne Jenkins    2
4	 Eric Branford   NULL
5	 Pat Richards    1
6	 Alice Barnes    2
```
Here is a query written to return the list of customers not referred by Jane Smith:
```SQL
SELECT Name FROM Customers WHERE ReferredBy <> 2;
```
What will be the result of the query? Why? What would be a better way to write it?

The result of the query will only be `Pat Richards` because `NULL <> 2` is not a true or false statement, so it will not return. The following query should work:
```SQL
SELECT Name 
FROM Customers 
WHERE ReferredBy IS NULL 
    OR ReferredBy <> 2;
```

### 9\. Considering the database schema displayed in the SQLServer-style diagram below, write a SQL query to return a list of all the invoices. For each invoice, show the Invoice ID, the billing date, the customerâ€™s name, and the name of the customer who referred that customer (if any). The list should be ordered by billing date.
<img src='images/sql_schema.png' width=300>

```SQL
SELECT i.id, i.BillingDate, c.Name, r.ReferredBy AS ReferredByName
FROM Invoices i
    JOIN Customers c ON i.CustomerId = c.id
    LEFT JOIN Customers r ON c.id = r.ReferredBy
ORDER BY i.BillingDate;
```

### 10\. Assume a schema of Emp(Id, Name, DeptId), Dept(Id, Name).

If there are 10 records in the Emp table and 5 records in the Dept table, how many rows will be displayed in the result of the following SQL query:
```SQL
SELECT * FROM Emp, Dept;
```

Explain your answer.